@use "../" as *;

body {
  color: color("gray", "400");
  font-family: font-stack("sans-serif");
  font-size: font-size("medium");
  line-height: 1.75;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.15;
  margin: 1rem 0;
}

:not(h1) + h2,
:not(h2) + h3,
:not(h3) + h4 {
  margin-top: 3.5rem;
}

h1 {
  color: theme-color("secondary");
  font-weight: font-weight("bold");
  letter-spacing: -.025em;
  line-height: 1;
  margin: 0 0 2rem;

  @at-root &,
  .text-xx-large {
    font-size: font-size("xx-large");
  }
}

h2 {
  font-weight: font-weight("medium");

  @at-root &,
  .text-x-large {
    font-size: font-size("x-large");
  }
}

h3 {
  font-weight: font-weight("medium");

  @at-root &,
  .text-large {
    font-size: font-size("large");
  }
}

h4 {
  font-weight: font-weight("bold");

  @at-root &,
  .text-medium {
    font-size: font-size("medium");
  }
}

h5 {
  font-weight: font-weight("bold");

  @at-root &,
  .text-small {
    font-size: font-size("small");
  }
}

.text-x-small {
  font-size: font-size("x-small");
}

small,
sub,
sup {
  font-size: 87.5%;
  font-size: max(#{font-size("small")}, 87.5%);
}

b,
strong {
  font-weight: font-weight("bold");
}

a {
  color: theme-color("secondary");
  text-decoration: underline;

  &:where(:visited) {
    color: theme-color("secondary", "400");
  }
}

p {
  margin: 0;

  &:where(:not(:last-child)) {
    margin-bottom: 1em;
  }
}