$font-stacks: (
  "sans-serif": (Inter, system-ui, sans-serif),
);

$font-sizes: (
  "x-small": .75rem,
  "small": .875rem,
  "medium": 1rem,
  "x-medium": 1.25rem,
  "large": 1.5rem,
  "x-large": 2rem,
  "xx-large": 2.5rem,
);

$font-weights: (
  "medium": 400,
  "semibold": 600,
  "bold": 700,
);