$base-unit: 4px;

$size-1: $base-unit * 2;
$size-2: $base-unit * 4;
$size-3: $base-unit * 6;
$size-4: $base-unit * 8;
$size-5: $base-unit * 10;
$size-6: $base-unit * 12;
$size-7: $base-unit * 14;
$size-8: $base-unit * 16;
$size-9: $base-unit * 18;
$size-10: $base-unit * 20;

$spacing-1: $base-unit * 2;
$spacing-2: $base-unit * 4;
$spacing-3: $base-unit * 6;
$spacing-4: $base-unit * 8;
$spacing-5: $base-unit * 10;
$spacing-6: $base-unit * 12;
$spacing-7: $base-unit * 14;
$spacing-8: $base-unit * 16;
$spacing-9: $base-unit * 18;
$spacing-10: $base-unit * 20;

$breakpoints: (
  "small": 640px,
  "medium": 768px,
  "large": 1024px,
  "max": 1280px,
);