@use "../" as *;

/**
 * Styles included here are commonly found in "reset", "normalize", or
 * "preflight" files. However, the purpose of this file is strictly to set some
 * better defaults as a starting point. It is not to eliminate or even normalize
 * differences between browsers. If a browser quirk truly does need to be
 * accounted for, it should be put in the respective file in the Design System
 * (e.g. the file for button styles should include `appearance: none`).
 *
 * 1. Better default box model (padding while now no longer add to an element's
 *    dimensions, but instead push content inwards).
 */

* {
  box-sizing: border-box; // 1
  margin: 0;
  padding: 0;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

/**
 * 1. Ensure against horizontal scrolling on smaller screens.
 * 2. `position: sticky` won't work on an element with an ancestor (like `html,
 *    body`) that has an `overflow` property but not a `height`.
 * 3. If "reduced motion" preference is not set, animate scrolling to anchors to
 *    better orient users as to the location and direction of a scroll change.
 */
html,
body {
  display: block; // 1
  width: 100%; // 1
  overflow-x: hidden; // 1
  height: 100%; // 2

  @include motion-ok {
    scroll-behavior: smooth; // 3
  }
}

/**
 * 1. Do not adjust font size on orientation change of mobile devices (i.e.,
 *    disable font zooming when changing to landscape mode).
 */
body {
  text-size-adjust: 100%; // 1
}

/**
 * 1. Provide a more "native" feel on touch devices by removing the double-tap
 *    delay of single-tap-only elements.
 */
a,
button,
input,
select,
summary,
textarea {
  touch-action: manipulation; // 1
}

/**
 * 1. Prevent media elements from expanding beyond or stretching out the parent
 *    element.
 * 2. Remove default white space after inline elements.
 */
audio,
canvas,
iframe,
img,
svg,
video,
button,
table {
  max-width: 100%; // 1
  height: auto;
  vertical-align: middle; // 2
}

/**
 * 1. Make the `[hidden]` attribute stronger so it overrides the `display`
 *    property of the elements it's used on.
 */
[hidden] {
  display: none !important;
}