.tcds-side-menu {
  ul {
    li {
      > span {
        cursor: default;
        position: relative;
        display: flex;
        align-items: center;
        filter: grayscale(1);
        opacity: .6;
      }
    }
  }
}