@use "../_all" as *;

.Accordion {
  &:not(:last-child) {
    margin-bottom: space("normal");
  }

  &__controls {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
  }

  &__section {
    margin-bottom: 3px;
  }

  &__heading {
    margin: 0;
  }

  &__button {
    appearance: none;
    border: 0;
    background: color("gray", "0");
    color: color("gray", "400");
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-family: font-stack("ui");
    font-size: font-size("medium");
    font-weight: font-weight("semibold");
    line-height: 1;
    padding: space("normal") space("loose");
    width: 100%;
    transition:
      background animation("productive"),
      color animation("productive");

    &:hover,
    &[aria-expanded="true"] {
      background: theme-color("secondary");
      color: theme-color("secondary", "0");
    }

    &:active {
      background: theme-color("secondary", "400");
    }

    &[aria-expanded="true"] {
      --icon-rotate: 180deg;
    }
  }

  &__icon {
    height: 1em;
    pointer-events: none;
    transform: rotateZ(var(--icon-rotate, 0));
    transition: transform animation("productive");
  }

  &__panel {
    overflow: hidden;
    transition: height animation("expressive");
  }
  
  &__content {
    padding: space("normal") space("loose");
  }
}