@use "../_all" as *;

.Message {
  --message-background-color: #{interface-color("neutral", "0")};
  --message-border-color: #{interface-color("neutral")};
  --message-text-color: #{interface-color("neutral", "400")};

  background-color: var(--message-background-color);
  border-left: 4px solid var(--message-border-color);
  color: var(--message-text-color);
  padding: space("normal") space("loose");
  margin: space("loose") 0;

  &--positive {
    --message-background-color: #{interface-color("positive", "0")};
    --message-border-color: #{interface-color("positive")};
    --message-text-color: #{interface-color("positive", "400")};
  }

  &--negative {
    --message-background-color: #{interface-color("negative", "0")};
    --message-border-color: #{interface-color("negative")};
    --message-text-color: #{interface-color("negative", "400")};
  }

  &--attention {
    --message-background-color: #{interface-color("attention", "0")};
    --message-border-color: #{interface-color("attention")};
    --message-text-color: #{interface-color("attention", "400")};
  }

  &--notice {
    --message-background-color: #{interface-color("notice", "0")};
    --message-border-color: #{interface-color("notice")};
    --message-text-color: #{interface-color("notice", "400")};
  }

  &--small {
    font-size: font-size("small");
    padding: space("tight") space("normal");
    margin: space("normal") 0;
  }
}