@use "../_all" as *;

.Tile {
  display: inline-flex;
  align-items: center;
  gap: space("loose");
  color: color("gray", "400");
  text-decoration: none;
  line-height: 1.2;
  padding: space("loose");
  position: relative;
  z-index: 1;

  &:not(#{&}--no-hover):hover {
    --tile-overlay-color: #{color("shade", "100")};
  }

  &--small {
    --tile-icon-size: 3ch;
    --tile-heading-size: #{font-size("medium")};
    --tile-subheading-size: #{font-size("small")};
    gap: space("normal");
    padding: space("normal");
  }

  &--fill {
    height: 100%;
    width: 100%;
  }

  &--filled-icon {
    --tile-icon-background: #{theme-color("secondary")};
    --tile-icon-color: #{theme-color("secondary", "0")};
    --tile-icon-padding: .45em;
  }

  &::after {
    content: "";
    background-color: var(--tile-overlay-color, transparent);
    transition: background-color animation("productive");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__icon {
    height: 40px; // fallback
    height: var(--tile-icon-size, 4ch);
    width: 40px; // fallback
    width: var(--tile-icon-size, 4ch);
    flex-shrink: 0;
    padding: var(--tile-icon-padding, 0);
    border-radius: 40px; // fallback
    border-radius: var(--tile-icon-size, 4ch);
    background-color: var(--tile-icon-background, transparent);
    color: var(--tile-icon-color, inherit);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: space("tight");
    justify-content: center;
  }

  &__heading {
    font-size: font-size("medium-plus"); // fallback
    font-size: var(--tile-heading-size, #{font-size("medium-plus")});
    font-weight: font-weight("semibold");
  }

  &__subheading {
    font-size: font-size("medium"); // fallback
    font-size: var(--tile-subheading-size, #{font-size("medium")});
    font-style: italic;
  }
}