@use "../../../tcds/styles" as *;

main {
  grid-area: main;
  overflow-x: hidden;
  padding-bottom: space("loose");
  
  @include breakpoint-above("side-nav") {
    padding-left: space("x-loose");
  }
  
  @include breakpoint-below("side-nav") {
    padding-top: space("loose");
  }
}

.lead {
  color: color("gray", "300");
  font-size: font-size("x-medium");
  line-height: 1.75;
  margin-bottom: space("x-loose");
}

:is(h2, h3, h4, h5, h6)[data-anchored] {
  --heading-anchor-color: transparent;

  display: grid;
  grid-template-columns: 1.5ch auto;
  position: relative;
  left: -1.5ch;

  &:hover {
    --heading-anchor-color: #{color("gray")};
  }

  .heading-anchor {
    color: var(--heading-anchor-color);
    text-decoration: none;
    transform: scale(.7);
    transition: color animation("productive");

    &:hover,
    &:focus {
      --heading-anchor-color: #{color("gray", "500")};
    }
  }
}