@use "../../../tcds/styles" as *;

.main-nav {
  @include breakpoint-above("main-nav") {
    margin-left: auto;
  }

  @include breakpoint-below("main-nav") {
    background: #fff;
    border-left: 1px solid color("gray", "100");
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 50vw;
    padding: space("normal");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    z-index: 2;
    
    &:not([hidden]) {
      transform: translateX(0);
    }
  }

  @include breakpoint-below(414px) {
    width: 100%;
  }

  &__toggle {
    @include breakpoint-above("main-nav") {
      display: none;
    }

    @include breakpoint-below("main-nav") {
      margin-left: auto;
    }
  }

  &__close {
    @include breakpoint-above("main-nav") {
      display: none;
    }
  }

  &__list {
    display: flex;

    @include breakpoint-below("main-nav") {
      flex-direction: column;
    }
  }

  &__item {
    @include breakpoint-above("main-nav") {
      --link-padding: 0 #{space("normal")};

      &:last-child {
        --link-padding: 0 0 0 #{space("normal")};
      }
    }
  }

  &__link {
    color: color("gray", "300");
    display: block;
    height: size("x-large");
    line-height: size("x-large");
    padding: 0 space("normal");
    padding: var(--link-padding, 0);
    text-decoration: none;
    transition: color animation("productive");
    white-space: nowrap;

    &[aria-current] {
      color: color("gray", "500");
      font-weight: font-weight("semibold");
    }

    @media (any-hover: hover) {
      &:hover {
        color: color("gray", "500");
      }
    }

    @include breakpoint-below("main-nav") {
      border-bottom: 1px solid color("gray", "100");
    }
  }
}