@use "../../../tcds/styles" as *;

.page {
  background: #fff;
  min-height: calc(100vh - var(--site-header-height));

  @include breakpoint-above("side-nav") {
    padding-top: calc(var(--site-header-height) * .7);
  }
}

.page-content {
  display: grid;
  align-items: start;

  @include breakpoint-below("side-nav") {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "side-nav"
      "main";
  }

  @include breakpoint-above("side-nav") {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      "side-nav main";
  }
}

.page-category {
  font-size: font-size("small");
  letter-spacing: .1em;
  margin: 0 0 space("tight");
  text-transform: uppercase;

  @include breakpoint-below("side-nav") {
    display: none;
  }
}