@use "partials/page-content" as *;
@use "partials/side-menu" as *;

@use "includes/example" as *;

@use "lib/prism" as *;

@use "theme/code" as *;
@use "theme/doc-table" as *;
@use "theme/prism" as *;

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}