@use "../" as *;

@supports(-webkit-appearance: none) or (-moz-appearance: none) {
  input[type="checkbox"],
  input[type="radio"] {
    --selection-input-size: 1rem;

    -webkit-appearance: none;
    -moz-appearance: none;
    width: var(--selection-input-size);
    height: var(--selection-input-size);
    border: 2px solid var(--selection-input-border-color, #{color("gray", "100")});
    background-color: var(--selection-input-background, #fff);
    outline: 1px solid transparent;
    margin: 0 space("x-tight") 0 0;
    transition:
      background-color animation("productive"),
      border-color animation("productive"),
      outline animation("productive");
    vertical-align: middle;
    cursor: pointer;
    position: relative;

    &:hover {
      --selection-input-border-color: #{theme-color("primary", "200")};
    }

    &:checked {
      --selection-input-background: #{theme-color("primary")};
      --selection-input-border-color: #{theme-color("primary")};
      --selection-input-inner-color: #fff;
    }

    &:focus {
      outline: 2px solid theme-color("secondary", "200");
    }

    &::after {
      content: "";
      transform-origin: center;
      transition:
        background-color animation("productive-timing") animation("expressive-easing"),
        width animation("productive-timing") animation("expressive-easing"),
        height animation("productive-timing") animation("expressive-easing");
      position: absolute;
    }

    + label {
      cursor: pointer;
      vertical-align: middle;
      font-weight: font-weight("normal");
    }
  }

  input[type="checkbox"] {
    &:checked {
      --selection-input-inner-size: 70%;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(45deg);
      left: 50%;
      top: 50%;
      width: calc(var(--selection-input-inner-size, 1px) / 2);
      height: var(--selection-input-inner-size, 0);
      border: 2px solid var(--selection-input-inner-color, transparent);
      border-left: none;
      border-top: none;
    }
  }

  input[type="radio"] {
    border-radius: var(--selection-input-size);

    &:checked {
      --selection-input-inner-size: 50%;
    }

    &::after {
      width: var(--selection-input-inner-size, 0);
      height: var(--selection-input-inner-size, 0);
      background-color: var(--selection-input-inner-color, transparent);
      transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      border-radius: 50%;
    }
  }
}

select {
  appearance: none;
  border: none;
  font-family: font-stack("ui");
  font-size: font-size("small");
  padding: space("tight") space("normal");
  background-color: color("shade", "0");
  width: 100%;
  height: size("medium");
  transition: background-color animation("productive");
  background-image: url("../images/icons/chevron-down.svg");
  background-position: 98% center;
  background-size: auto 40%;
  background-repeat: no-repeat;

  &:hover {
    background-color: color("shade", "100");
  }

  &:focus {
    background-color: #fff;
  }
}