@use "../" as *;

// Focus styles

// Target styles
:target {
  outline: 2px solid transparent;
  animation: highlight-target 7s ease-out;

  @keyframes highlight-target {
    5%, 50% {
      background-color: color("yellow", "0");
      color: color("yellow", "400");
      outline-color: color("yellow", "100");
    }
  }
}