@use "../animation" as *;

/**
 * This file contains many styles traditionally put in "reset" or "normalize"
 * files. While this file does replace those, its goal is not (necessarily) to
 * wipe out browser defaults or eliminate differences between them. Instead, it
 * is to provide universal styles that improve UX and serve as a guardrail for
 * things like accessibility, maintainability, and responsiveness.
 *
 * In this project, resets and normalizations may instead be found in their
 * respective locations, such as removing `list-style` from lists in
 * ../primitives/_lists.
 *
 * Rules for adding to this stylesheet:
 * 1. Contains as few styles as possible, with no styles that are likely to be
 *    overridden on a project-by-project basis.
 * 2. Contains no project-specific defaults, globals, utilities, or resets.
 *    Should only contain styles that apply universally.
 * 2. Introduces as few side effects on individual components or other modular
 *    elements as possible; they should generally still look and function the
 *    same with or without this stylesheet. (As a result, this file should not
 *    be treated as a "dependency", but as a progressive enhancement.)
 * 3. Has no focus on browser compatibility issues (but may still include
 *    vendor-specific styles if applicable).
 */

/**
 * 1. Better default box model (`padding` will now not add to an element's
 *    calculated dimensions, but will instead push content inwards).
 */

* {
  box-sizing: border-box; // 1
  
  &::before,
  &::after {
    box-sizing: border-box; // 1
  }
}

/**
 * 1. Remove default viewport margin.
 * 2. Prevent horizontal overflow and scrolling of viewport.
 * 3. Prevent automatic text scaling on orientation change. Both a design and
 *    performance consideration; changes to `font-size` trigger reflow.
 * 4. Animate scrolling to anchor elements to help users better understand the
 *    direction and relative location of the target element (only if "reduced
 *    motion" preference is not set).
 */

body {
  margin: 0; // 1
  max-width: 100vw; // 2
  overflow-x: hidden; // 2
  text-size-adjust: 100%; // 3

  @include motion-ok() {
    scroll-behavior: smooth; // 4
  }
}

/**
 * 1. Remove touch delay on most interactive elements. This delay is an
 *    affordance for double-tapping to zoom in, but is unnecessary for (and can
 *    cause confusion on) elements where deliberate interaction is presumable
 *    when double-tapped. (Note that `manipulation` still affords
 *    touch-then-scrolling interaction.)
 */

a,
button,
input,
select,
summary {
  touch-action: manipulation; // 1
}

/**
 * 1. Prevent media from expanding beyond the natural size of the parent.
 * 2. Remove excess bottom space left for descenders on inline elements.
 */

audio,
canvas,
iframe,
img,
svg,
video,
button {
  max-width: 100%; // 1
  vertical-align: middle; // 2
}

/**
 * 1. Strengthen the `[hidden]` attribute so that it overrides `display`
 *    declarations in other rulesets or inline styles.
 */

[hidden] {
  display: none !important; // 1
}