@use "../_all" as *;

main {
  counter-reset: footnotes;
}

.Footnotes {
  font-size: font-size("small");

  &:empty {
    display: none;
  }
}

.Footnote-ref {
  counter-increment: footnotes;
  font-size: font-size("x-small");
  position: relative;
  top: -.5em;

  &::after {
    content: "[" counter(footnotes) "]";
  }
}