{% extends "@tch/base.twig" %}

{% block body %}
  <p><small>Small text</small></p>
  <p>Medium text</p>
  <h3>Large text</h3>
  <h2>Extra large text</h2>
  <h1>Extra extra large text</h1>
{% endblock %}