pre:not([class*="language"]),
code:not([class*="language"]) {
  font-family: var(--tcds-font-monospace);
  background-color: var(--tcds-color-shade-xx-weak);
  color: var(--tcds-color-blue-x-dark);
  border: 1px solid var(--tcds-color-shade-xx-weak);

  :not(td) > & {
    font-size: 90%;
  }
}

code:not([class*="language"]) {
  padding: 1px 2px;
}