.main-nav {
  padding-left: var(--tcds-space-x-loose);

  &__list {
    list-style: none;
  }

  &__item {
    font-size: var(--tcds-font-size-small);
    font-family: var(--tcds-font-ui);
  }

  &__category {
    padding: var(--tcds-space-tight) 0;
    display: block;
    font-weight: var(--tcds-font-weight-semibold);
    margin-top: var(--tcds-space-loose);
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: var(--tcds-font-size-x-small);
  }

  &__link {
    display: block;
    color: var(--tcds-color-secondary);
    padding: var(--tcds-space-tight) 0;

    &:not(:hover) {
      text-decoration: none;
    }

    &[aria-current] {
      font-weight: var(--tcds-font-weight-semibold);
      color: var(--tcds-color-primary);
      box-shadow: inset -4px 0 var(--tcds-color-primary);
    }

    &--disabled {
      color: #999;
      cursor: default;
      position: relative;

      &::after {
        content: "Coming soon";
        display: inline-block;
        margin-left: var(--tcds-space-normal);
        text-transform: uppercase;
        font-size: var(--tcds-font-size-x-small);
        font-weight: var(--tcds-font-weight-semibold);
        background:  var(--tcds-color-blue-x-light);
        color: var(--tcds-color-blue);
        padding: 3px;
        border-radius: 3px;
        transform: translateX(20%);
        opacity: 0;
        transition:
          transform var(--tcds-animation-productive-duration) var(--tcds-animation-expressive-easing),
          opacity var(--tcds-animation-productive-duration) var(--tcds-animation-expressive-easing);
        transition-delay: 400ms;
      }

      &:hover {
        text-decoration: none;

        &::after {
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}