@use "../" as *;

.Tabs {
  &--small {
    --tab-font-size: #{font-size("small")};
    --tab-height: #{size("small")};
    --tab-x-padding: #{space("normal")};
  }

  &--large {
    --tab-flex-grow: 1;
    --tab-font-size: #{font-size("x-medium")};
    --tab-height: #{size("large")};
    --tab-x-padding: #{space("x-loose")};
    --tabpanel-y-padding: #{space("loose")};
  }

  &__tablist {
    display: flex;
  }

  &__tab {
    appearance: none;
    background: none;
    border: none;
    border-bottom: 5px solid var(--indicator-color, #{color("gray", "100")});
    color: color("gray", "300");
    font-family: font-stack("sans-serif");
    font-size: var(--tab-font-size, #{font-size("medium")});
    font-weight: font-weight("semibold");
    flex: var(--tab-flex-grow, 0);
    padding: 0 space("loose"); // fallback
    padding: 0 var(--tab-x-padding, #{space("loose")});
    height: var(--tab-height, #{size("medium")});
    white-space: nowrap;
    transition:
      border-color animation("productive"),
      color animation("productive");

    @media (any-hover: hover) {
      &:hover {
        --indicator-color: #{color("gray", "200")};
        color: color("gray", "400");
      }
    }

    @media (hover: none) {
      &:active {
        opacity: .5;
      }
    }

    &[aria-selected=true] {
      --indicator-color: #{theme-color("secondary")};
      color: color("gray", "500");
    }
  }

  &__panel {
    padding: var(--tabpanel-y-padding, #{space("normal")}) 0 0;
  }
}