@use "../" as *;

.Tile {
  display: flex;
  align-items: center;
  gap: space("loose");
  color: color("gray", "400");
  text-decoration: none;
  line-height: 1.2;
  padding: space("loose");
  position: relative;
  width: fit-content;
  z-index: 1;

  &:hover {
    --tile-overlay-color: #{color("shade", "100")};
  }

  &--small {
    --tile-icon-size: 2ch;
    --tile-title-size: #{font-size("medium")};
    --tile-subtitle-size: #{font-size("small")};
    gap: space("normal");
    padding: space("normal");
  }

  &--fill {
    height: 100%;
    width: 100%;
  }

  &::after {
    content: "";
    background: var(--tile-overlay-color, transparent);
    transition: background animation("productive");
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  &__icon {
    height: var(--tile-icon-size, 5ch);
    width: var(--tile-icon-size, 5ch);
  }

  &__text {
    display: flex;
    flex-direction: column;
    gap: space("tight");
    justify-content: center;
  }

  &__title {
    font-size: var(--tile-title-size, #{font-size("x-medium")});
    font-weight: font-weight("semibold");
  }

  &__subtitle {
    font-size: var(--tile-subtitle-size, #{font-size("medium")});
    font-style: italic;
  }
}
