{% extends "templates/components/component/component.html.twig" %}

{% set component_name = "Icon" %}

{% set root_element = "span" %}

{% block inner_content %}
  {% if label %}
    <span class="visually-hidden">{{ label }}</span>
  {% endif %}

  <span aria-hidden="true" style="display: contents">
    {{ include("templates/icons/#{icon}.svg.twig") }}
  </span>
{% endblock %}