@use "../_all" as *;

.timing-table {
  tr > td,
  tr > th {
    &:nth-of-type(2),
    &:nth-of-type(3) {
      text-align: center;
    }
  }
}

.timing-graph {
  background-color: color("blue", "0");
  border-radius: 16px;
  margin: 0 auto;

  &.easing-function {
    margin: space("normal") 0 0;
  }

  .easing-curve {
    fill: none;
    stroke: color("blue");
    stroke-width: 6px;
    stroke-linecap: round;
  }

  .easing-pacer {
    fill: color("blue");
  }
}