.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  margin: var(--tcds-space-x-loose) 0;

  &__item {
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    text-align: center;
    background-color: transparent;
    transition: background-color .15s ease-in;
    user-select: none;
    cursor: pointer;

    &:hover {
      --icon-grid-icon-translate-y: 0%;
      --icon-grid-icon-label-opacity: 1;
      --icon-grid-icon-color: var(--tcds-color-blue);

      background-color: var(--tcds-color-gray-x-light);
    }

    &:active {
      transform: scale(.97);
    }

    @media (hover: none) {
      --icon-grid-icon-translate-y: 0%;
      --icon-grid-icon-label-opacity: 1;
    }

    tcds-icon {
      align-self: end;
      justify-self: center;
      transform: translateY(var(--icon-grid-icon-translate-y, 50%));
      transition: transform var(--tcds-animation-expressive-duration) var(--tcds-animation-expressive-easing);
      font-size: 1.7em;
      color: var(--icon-grid-icon-color, inherit);
    }
  }

  &__label {
    opacity: var(--icon-grid-icon-label-opacity, 0);
    transform: translateY(var(--icon-grid-icon-translate-y, 50%));
    transition:
      opacity var(--tcds-animation-expressive-duration) var(--tcds-animation-expressive-easing),
      transform var(--tcds-animation-expressive-duration) var(--tcds-animation-expressive-easing);
    transition-delay: 100ms;
    font-size: var(--tcds-font-size-small);
    font-family: var(--tcds-font-ui);
    white-space: nowrap;
  }
}