.size-space-chart {
  margin: var(--tcds-space-loose) 0 3rem;
  font-family: var(--tcds-font-ui);

  dl {
    &.size-chart {
      height: 100px;
      margin: 0;
    }

    &.space-chart {
      height: 130px;
    }

    div {
      display: flex;
      flex-flow: column-reverse;
      flex: 1;
      padding-bottom: 0;
      border-bottom: 0;
    }

    dt {
      border-top: 1px solid var(--tcds-color-gray-light);
      padding-top: .5rem;
      margin-top: .5rem;
      text-align: center;
      font-weight: 400;
    }

    dd {
      color: transparent;
      font-size: .75rem;
      padding: 0;
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
    }

    &.size-chart dd {
      background: var(--tcds-color-blue-x-light);
      height: var(--size-bar-height);
      padding: .75rem;
      color: var(--tcds-color-blue-dark);
    }

    &.space-chart dd {
      --polka-pattern-dot-size: .75px;
      --polka-pattern-dot-spacing: 8px;
      --polka-pattern-dot-color: green;
      --polka-pattern-bg: var(--tcds-color-blue-x-light);

      background-color: var(--polka-pattern-bg);
      background-image:  radial-gradient(var(--polka-pattern-dot-color) var(--polka-pattern-dot-size), transparent var(--polka-pattern-dot-size)), radial-gradient(var(--polka-pattern-dot-color) var(--polka-pattern-dot-size), var(--polka-pattern-bg) var(--polka-pattern-dot-size));
      background-size: var(--polka-pattern-dot-spacing) var(--polka-pattern-dot-spacing);
      background-position: 0 0, calc(var(--polka-pattern-dot-spacing) * 2) calc(var(--polka-pattern-dot-spacing) * 2);
      width: fit-content;
      margin: 0 auto;
      padding: var(--space-bar-padding);
      color: var(--tcds-color-blue-dark);

      span {
        background: var(--tcds-color-blue-x-light);
        display: block;
        padding: 0 var(--tcds-space-x-tight);
      }
    }
  }
}