.typeface-table {
  td:not([rowspan]) {
    vertical-align: middle;
  }
}

.type-scale-table {
  td:nth-child(1) {
    max-width: 500px;

    span {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      position: relative;
    }
  }

  td:nth-child(2) {
    white-space: nowrap;
  }
}