@use "../_all" as *;

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: font-weight("bold");
}

.text-semibold {
  font-weight: font-weight("semibold");
}

.text-x-small {
  font-size: font-size("x-small");
}

.text-small {
  font-size: font-size("small");
}

.text-medium {
  font-size: font-size("medium");
}

.text-medium-plus {
  font-size: font-size("medium-plus");
}

.text-large {
  font-size: font-size("large");
}

.text-x-large {
  font-size: font-size("x-large");
}

.text-xx-large {
  font-size: font-size("xx-large");
}

.text-center {
  text-align: center;
}