<section class="example-box" role="doc-example">
  <div class="example-box__result">
    {% block result %}
      {% block content %}{% endblock %}
    {% endblock %}
  </div>
  <div class="example-box__tabs">
    <details>
      <summary>View code</summary>
      <pre class="line-numbers language-{{ language ? language|clean_class : "html" }}"><code class="language-{{ language ? language|clean_class : "html" }}">{{ block("code") is defined ? block("code")|escape : block("content")|escape }}</pre>
    </details>
  </div>
</section>