<section class="example-box" role="doc-example">
  <div class="example-box__result" {{ transparent_background ? 'style="background: transparent"' }}>
    {% block result %}{% endblock %}
  </div>
  <div class="example-box__tabs">
    {% set tabs = [] %}

    {% for heading, content in examples %}
      {% set tabs = tabs|merge([{
        heading: heading,
        content: "<pre class='line-numbers language-#{heading|clean_class}'><code class='language-#{heading|clean_class}'>#{ content|escape }</code></pre>",
      }]) %}
    {% endfor %}

    {% embed "@tcds/components/tabs/tabs.html.twig" with {
      id: id ?: random(0, 1000),
      tabs: tabs,
      modifiers: [show_first ?: "hide-all", "small"]
    } %}
    {% endembed %}
  </div>
</section>