<header class="site-header">
  <a href="/" rel="home" title="Home" class="site-branding">
    <img src="/images/tch-logo.svg" alt="Texas Children's" class="site-branding__logo">
    <span class="site-branding__title">Design System</span>
  </a>

  {{ include("@tch/partials/main-nav.twig") }}
</header>