<nav>
  <ul>
    {% for category in content %}
      <li>
        <a href="{{ category.pages|filter(i => i.published != false)|first.route }}">{{ category.title }}</a>
      </li>
    {% endfor %}
  </ul>
</nav>