<tcds-site-header data-theme="auto">
  <a id="site-header-logo" href="/" rel="home" title="Go home">
    <img src="/images/tc-horizontal.svg" alt="Texas Children's Design System" width="386" height="90">
  </a>

  <details open id="site-header-nav">
    <summary>
      <span class="visually-hidden">Toggle menus</span>
    </summary>
    <div>
      {{ include("@tc/partials/site-menu.twig") }}
    </div>
  </details>
</tcds-site-header>