<header class="local-site-header" id="local-site-header">
  <div class="site-logo">
    <a href="/" rel="home" title="Home" class="site-logo__link">
      <img src="/images/tc-logo.svg" alt="Texas Children's" width="125" class="site-logo__image">
      <span class="site-logo__text">Design System</span>
    </a>
  </div>

  {{ include("@tch/partials/main-nav.twig") }}
</header>

<tcds-button controls="local-site-header" expanded="false" icon="only hamburger" variant="ui">Toggle menu</tcds-button>