<footer class="tcds-site-footer">
  <div class="tcds-site-footer__legal">
    <div class="tcds-site-footer__branding">
      <img src="/images/tc-horizontal.svg" alt="Texas Children's" width="242" height="31">

      <small>&copy; {{ "now"|date("Y") }} Texas Children's</small>
    </div>

    <p class="tcds-site-footer__copyright">
      <small>A single copy of these materials may be reprinted for noncommercial personal use only. “Texas Children’s,” “Texas Children’s Hospital,” “texaschildrens.org,” and the Texas Children’s logomark are trademarks of Texas Children’s Hospital.</small>
    </p>
  </div>
</footer>