@use "../" as *;

table {
  font-size: font-size("small");

  :not(thead) > tr:nth-of-type(odd) {
    background: none;
  }

  td {
    border-bottom: 1px solid color("gray", "0");
  }

  :not(thead) > tr:last-child td {
    border-bottom: none;
  }
}